*   {
    font-family: 'Architects Daughter', cursive;
    background-color: rgb(189, 203, 216);
}

div > h1 {
    text-align: center;
    background-color: black;
}

.boton  {
    color:rgb(214, 55, 55);
    background-color: black;
    margin-left: 15px;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    transition-duration: 0.5s;
}

.boton:hover, body > div > div.c > a > i:hover    {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}

.bot_b {
    color:rgb(16, 81, 90);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    transition-duration: 0.5s;
}

.bot_b:hover {
      border: 1px solid rgb(16, 81, 90);
}

body > table {
    font-size: 25px;
}

img, table  {
    padding-left: 150px;
    padding-top: 20px;
}

.receta, body > ol > li {
    background-image: url(../images/paper-texture.jpg);
    text-align: justify;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 15px;
}

body > div > div.c > i, body > div > div.c > a, body >div > div.c > a > i {
    font-size: 1.4vw;
    color: rgb(214, 55, 55);
    background-color: black;
    padding: 5px;
}

iframe   {
    border: 2px solid #911212;
}

body > menu > form {
    font-size: 20px;
    text-align: left;
}

.inputstyle {
   font-size: 14pt;
}    

.submitstyle    {
    width: 35%;
    border-color: rgb(87, 87, 87);
    border-width: 5px;
    font-size: 20pt;
    background-color: rgb(102, 102, 102);
    color:white;
    border-style: solid;
    animation-name: efecto1;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    margin: 20px;
    cursor: pointer;
}

.submitstyle:hover  {
    transform:scale(1.5, 1.5);
}

.resetstyle    {
    width: 20%;
    border-color: rgb(87, 87, 87);
    border-width: 5px;
    font-size: 20pt;
    background-color: rgb(102, 102, 102);
    color:white;
    border-style: solid ;
    animation-name: efecto2;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
    }

.resetstyle:hover  {
        transform:scale(1.5, 1.5);
}

@keyframes efecto1 {
    from { border-color: rgb(0, 104, 40); }
    to { border-color: rgb(87, 87, 87); }
    }

@keyframes efecto2 {
        from { border-color: rgb(126, 5, 5); }
        to { border-color: rgb(87, 87, 87); }
    }

body > menu > form  {
        margin: 50px 200px 50px 200px;
}

.animate__animated.animate__flipInX  {
    --animate-delay: 2s;
    --animate-duration: 3s;
}

input   {
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    border: 1vw;
    padding: 0.5vw;
}

.grid {
    display: grid;
    grid-template-areas: "head head head"
                         "main main main"
                         "foot foot foot";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    }
  
    .a { 
        grid-area: head;
        background-color: black;
        color:rgb(235, 235, 235);
        font-size: 20px;
        border: 2px solid #911212;
        padding-bottom: 40px;
    }

    .b {
        grid-area: main;
        grid-auto-flow: row;
        text-align: center;
        font-size: 25px;
    }

    .c { 
        grid-area: foot;
        width: 100%;
        font-size: 18px;
        background-color: black; 
        color:rgb(235, 235, 235);
        border: 2px solid #911212;
        text-align: center;
    }

    .flex {
        display: flex;
        justify-content: space-around;
      }

    .item {
        grid-area: head;
        width: 100%;
        text-align: center;
    }