*   {
    font-family: 'Architects Daughter', cursive;
    background-color: rgb(189, 203, 216);
}

body > div > div.head > h1 {
    background-color: black;
    font-size: 2.5rem;
    text-align: center;
}

body > div > div.main2 > h2 {
    font-size: 2.2rem;
}

body > div > div.main1 > h2 {
    font-size: 2rem;
    text-align: center;
}

body > div > div.foot > h3 {
    background-color: black;
    font-size: 1.5rem;
    text-align: center;
}

body > div > div.main1 > ul {
    font-size: 1.5rem;
    text-align: left;
}

.boton  {
    color:rgb(214, 55, 55);
    background-color: black;
    margin-left: 1rem;
    padding: 0.02rem;
    text-decoration: none;
    font-size: 1.5rem;
    transition-duration: 0.5s;
    position: relative;
    top: 5%;
}

.boton:hover, body > div > div.foot > a > i:hover    {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}

.bot_b {
    color:rgb(16, 81, 90);
    text-decoration: none;
    font-size: 1.7rem;
    padding: 0.5rem;
    transition-duration: 0.5s;
}

.bot_b:hover {
      border: 0.1rem solid rgb(16, 81, 90);
      border-radius: 1rem;
}

.receta, body > div > div.main2 > ol > li {
    background-image: url(../images/paper-texture.jpg);
    text-align: justify;
    font-size: 1.4rem;
    padding: 0.5rem 1rem 0rem 1.8rem;
}

body > div > div.foot > i, body > div > div.foot > a, body > div > div.foot > a > i {
    font-size: 1.5rem;
    color: rgb(214, 55, 55);
    background-color: black;
    padding: 0.5rem;
    position: relative;
    top: 2%;
}

body > div > div.main3 > img    {
    padding-top: 5rem;
    width: 25rem;
}

iframe   {
    border: 0.1rem solid #911212;
}

body > menu > form {
    font-size: 20px;
    text-align: left;
}

.inputstyle {
   font-size: 14pt;
}    

.submitstyle    {
    width: 35%;
    border-color: rgb(87, 87, 87);
    border-width: 5px;
    font-size: 20pt;
    background-color: rgb(102, 102, 102);
    color:white;
    border-style: solid;
    animation-name: efecto1;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    margin: 20px;
    cursor: pointer;
}

.submitstyle:hover  {
    transform:scale(1.5, 1.5);
}

.resetstyle    {
    width: 20%;
    border-color: rgb(87, 87, 87);
    border-width: 5px;
    font-size: 20pt;
    background-color: rgb(102, 102, 102);
    color:white;
    border-style: solid ;
    animation-name: efecto2;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
    }

.resetstyle:hover  {
        transform:scale(1.5, 1.5);
}

@keyframes efecto1 {
    from { border-color: rgb(0, 104, 40); }
    to { border-color: rgb(87, 87, 87); }
    }

@keyframes efecto2 {
        from { border-color: rgb(126, 5, 5); }
        to { border-color: rgb(87, 87, 87); }
    }

body > menu > form  {
        margin: 50px 200px 50px 200px;
}

.animate__animated.animate__flipInX  {
    --animate-delay: 2s;
    --animate-duration: 3s;
}

input   {
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    border: 1vw;
    padding: 0.5vw;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: "head head head"
                         "main1 main2 main3"
                         "foot foot foot";
    grid-gap: 0.2rem;
}
  
    .head { 
        grid-area: head;
        background-color: black;
        color:rgb(235, 235, 235);
        border: 0.2rem solid #911212;
    }

    .main1 {
        grid-area: main1;
        grid-auto-flow: row;
    }
    
    .main2 {
        grid-area: main2;
        grid-auto-flow: row;
        text-align: center;
    }
    
    .main3 {
        grid-area: main3;
        grid-auto-flow: row;
        text-align: center;
    }

    .foot { 
        grid-area: foot;
        width: 100%;
        background-color: black; 
        color:rgb(235, 235, 235);
        border: 0.2rem solid #911212;
        text-align:center;
    }
